/* ==========================================================================
                              Reset and Variables
   ========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
}

:root {
  --font-family-base: "Manrope", sans-serif;

  --color-primary: hsl(150, 100%, 66%);
  --advice-text-color: hsl(193, 38%, 86%);
  --color-blue-600: hsl(217, 19%, 38%);
  --color-blue-900: hsl(217, 19%, 24%);
  --color-blue-950: hsl(218, 23%, 16%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-blue-950);
  font-family: var(--font-family-base);
  padding: 2rem;
}

/* ==========================================================================
                                Advice Card
   ========================================================================== */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  background-color: var(--color-blue-900);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 32rem;
  position: relative;
}

.card__title {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
  font-weight: 800;
}

.card__advice {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 800;
  color: var(--advice-text-color);
  line-height: 1.4;
}

.card__divider {
  margin-bottom: 2rem;
}

.card__btn {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s;
  line-height: 0;
  position: absolute;
  bottom: -7%;
}

.card__btn:hover {
  box-shadow: 0px 0px 25px hsl(150, 100%, 66%);
  cursor: pointer;
}

/* ==========================================================================
                          Media Queries
   ========================================================================== */

@media (max-width: 525px) {
  .card__advice {
    font-size: 1.4rem;
  }
}
